In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
import warnings
warnings.filterwarnings('ignore')
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Rotman Datathon/country_means_dataset_final.csv'
uncleaned_data = pd.read_csv(file_path)

In [ ]:
uncleaned_data.head()

,Country Name,Country Code,Time,Time Code,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],"Air transport, freight (million ton-km) [IS.AIR.GOOD.MT.K1]","Air transport, registered carrier departures worldwide [IS.AIR.DPRT]",Broad money (% of GDP) [FM.LBL.BMNY.GD.ZS],Broad money growth (annual %) [FM.LBL.BMNY.ZG],...,Income share held by highest 20% [SI.DST.05TH.20],Income share held by lowest 10% [SI.DST.FRST.10],Income share held by lowest 20% [SI.DST.FRST.20],Income share held by second 20% [SI.DST.02ND.20],Income share held by third 20% [SI.DST.03RD.20],Adjusted savings: education expenditure (% of GNI) [NY.ADJ.AEDU.GN.ZS],Adjusted savings: education expenditure (current US$) [NY.ADJ.AEDU.CD],Human Development Index (HDI),Cost of Living,Region
0,Afghanistan,AFG,2016,1.769986e+09,1.680928e+10,5.028319e+02,5.150451e+01,1.732395e+04,3.516067e+01,1.210993e+01,...,1.769986e+09,1.769986e+09,1.769986e+09,1.769986e+09,1.769986e+09,2.711187,4.961485e+08,0.462000,354,South Asia
1,Albania,ALB,2016,1.016551e+09,1.120919e+10,3.897635e+03,2.185714e-02,4.905866e+03,8.130776e+01,5.071977e+00,...,3.962500e+01,3.250000e+00,7.912500e+00,1.248750e+01,1.686250e+01,3.140582,4.208859e+08,0.789000,608,Europe & Central Asia
2,Algeria,DZA,2016,1.416222e+10,1.371742e+11,3.445510e+03,1.843785e+01,5.715223e+04,7.051843e+01,8.856861e+00,...,3.720000e+01,4.000000e+00,9.400000e+00,1.370000e+01,1.750000e+01,4.467196,7.706673e+09,0.745000,431,Middle East & North Africa
3,American Samoa,ASM,2016,9.434172e+07,9.434172e+07,9.434172e+07,1.033649e-02,5.737038e+03,9.434172e+07,9.434172e+07,...,9.434172e+07,9.434172e+07,9.434172e+07,9.434172e+07,9.434172e+07,11.760709,9.434172e+07,0.727361,431,East Asia & Pacific
4,Andorra,AND,2016,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,...,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,2.789328,9.865100e+07,0.884000,1232,Europe & Central Asia

In [ ]:
new_data = uncleaned_data.drop(columns=['Country Name', 'Time', 'Time Code', 'Country Code', 'Region'])
new_data = new_data.drop(index=3)
new_data = new_data.replace("..", np.nan).apply(pd.to_numeric, errors='coerce')
new_data.iloc[:, 1:] = new_data.iloc[:, 1:].fillna(new_data.iloc[:, 1:].mean())

In [ ]:
new_data.columns[:]

Index(['Adjusted net national income (current US$) [NY.ADJ.NNTY.CD]',
       'Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD]',
       'Air transport, freight (million ton-km) [IS.AIR.GOOD.MT.K1]',
       'Air transport, registered carrier departures worldwide [IS.AIR.DPRT]',
       'Broad money (% of GDP) [FM.LBL.BMNY.GD.ZS]',
       'Broad money growth (annual %) [FM.LBL.BMNY.ZG]',
       'Bank capital to assets ratio (%) [FB.BNK.CAPA.ZS]',
       'Bank liquid reserves to bank assets ratio (%) [FD.RES.LIQU.AS.ZS]',
       'Bank nonperforming loans to total gross loans (%) [FB.AST.NPER.ZS]',
       'Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]',
       ...
       'Income share held by highest 10% [SI.DST.10TH.10]',
       'Income share held by highest 20% [SI.DST.05TH.20]',
       'Income share held by lowest 10% [SI.DST.FRST.10]',
       'Income share held by lowest 20% [SI.DST.FRST.20]',
       'Income share held by second 20% [SI.DST.02ND.20]',
       'Income share held by third 20% [SI.DST.03RD.20]',
       'Adjusted savings: education expenditure (% of GNI) [NY.ADJ.AEDU.GN.ZS]',
       'Adjusted savings: education expenditure (current US$) [NY.ADJ.AEDU.CD]',
       'Human Development Index (HDI)', 'Cost of Living'],
      dtype='object', length=281)

In [ ]:
def top_y_correlated_features(dataset, top_x, y_header):
  y_col = dataset.columns.get_loc(y_header)
  corr_matrix = dataset.corr().iloc[:, y_col:y_col+1].transform(abs)
  return corr_matrix.sort_values(by=[y_header], ascending=False).index.values[:top_x]

In [ ]:
important_cols = ['Consumer price index (2010 = 100) [FP.CPI.TOTL]',
                  "Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD]",
                  'Households and NPISHs final consumption expenditure (% of GDP) [NE.CON.PRVT.ZS]',
                  'Households and NPISHs Final consumption expenditure (current US$) [NE.CON.PRVT.CD]',
                  'GDP per capita (current US$) [NY.GDP.PCAP.CD]',
                  'Inflation, GDP deflator (annual %) [NY.GDP.DEFL.KD.ZG]']

In [ ]:
def correlation(dataset, threshold, top_x, y_header):
  col_corr = set()
  corr_matrix = dataset.corr()
  for i in range(len(corr_matrix.columns)):
    for j in range(i):
      if abs(corr_matrix.iloc[i, j]) > threshold:
        colname = corr_matrix.columns[i]
        if colname not in top_y_correlated_features(new_data, top_x, y_header) and colname not in important_cols:
          col_corr.add(colname)
  return col_corr

In [ ]:
new_data.head()

,Adjusted net national income (current US$) [NY.ADJ.NNTY.CD],Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],"Air transport, freight (million ton-km) [IS.AIR.GOOD.MT.K1]","Air transport, registered carrier departures worldwide [IS.AIR.DPRT]",Broad money (% of GDP) [FM.LBL.BMNY.GD.ZS],Broad money growth (annual %) [FM.LBL.BMNY.ZG],Bank capital to assets ratio (%) [FB.BNK.CAPA.ZS],Bank liquid reserves to bank assets ratio (%) [FD.RES.LIQU.AS.ZS],Bank nonperforming loans to total gross loans (%) [FB.AST.NPER.ZS],"Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]",...,Income share held by highest 10% [SI.DST.10TH.10],Income share held by highest 20% [SI.DST.05TH.20],Income share held by lowest 10% [SI.DST.FRST.10],Income share held by lowest 20% [SI.DST.FRST.20],Income share held by second 20% [SI.DST.02ND.20],Income share held by third 20% [SI.DST.03RD.20],Adjusted savings: education expenditure (% of GNI) [NY.ADJ.AEDU.GN.ZS],Adjusted savings: education expenditure (current US$) [NY.ADJ.AEDU.CD],Human Development Index (HDI),Cost of Living
0,1.680928e+10,5.028319e+02,5.150451e+01,1.732395e+04,3.516067e+01,1.210993e+01,1.769986e+09,6.812781e+01,1.293410e+01,1.769986e+09,...,1.769986e+09,1.769986e+09,1.769986e+09,1.769986e+09,1.769986e+09,1.769986e+09,2.711187,4.961485e+08,0.462,354
1,1.120919e+10,3.897635e+03,2.185714e-02,4.905866e+03,8.130776e+01,5.071977e+00,8.523997e+00,1.656783e+01,1.369670e+01,7.431936e+01,...,2.398750e+01,3.962500e+01,3.250000e+00,7.912500e+00,1.248750e+01,1.686250e+01,3.140582,4.208859e+08,0.789,608
2,1.371742e+11,3.445510e+03,1.843785e+01,5.715223e+04,7.051843e+01,8.856861e+00,8.714937e+00,4.324201e+01,1.461504e+01,1.416222e+10,...,2.290000e+01,3.720000e+01,4.000000e+00,9.400000e+00,1.370000e+01,1.750000e+01,4.467196,7.706673e+09,0.745,431
4,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,...,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,4.040298e+08,2.789328,9.865100e+07,0.884,1232
5,5.479143e+10,1.999320e+03,5.642863e+01,1.162892e+04,3.369652e+01,1.512578e+01,1.025546e+01,4.046554e+01,1.241874e+01,6.206190e+09,...,3.960000e+01,5.560000e+01,1.300000e+00,3.800000e+00,7.700000e+00,1.260000e+01,3.550192,2.858503e+09,0.591,896

In [ ]:
y_vars = ['Cost to export, border compliance (US$) [IC.EXP.CSBC.CD]',
          'Cost to import, border compliance (US$) [IC.IMP.CSBC.CD]',
          'Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG]',
          'Logistics performance index: Overall (1=low to 5=high) [LP.LPI.OVRL.XQ]',
          'Transport services (% of service imports, BoP) [BM.GSR.TRAN.ZS]',
          'Air transport, freight (million ton-km) [IS.AIR.GOOD.MT.K1]',
          'Trade (% of GDP) [NE.TRD.GNFS.ZS]',
          'Energy imports, net (% of energy use) [EG.IMP.CONS.ZS]',
          'Broad money (% of GDP) [FM.LBL.BMNY.GD.ZS]'
          ]

In [ ]:
def feature_selection(y_var):
  y = new_data[y_var]
  x = new_data.drop(columns=y_vars)
  x = x.rename(columns=lambda col: col.replace('[', '_').replace(']', '_').replace('<', '_'))
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
  corr_features = correlation(X_train, 0.85, 20, y_var)
  X_test = X_test.drop(corr_features, axis=1)
  X_train = X_train.drop(corr_features, axis=1)
  return X_train, X_test, y_train, y_test

In [ ]:
models = [
    ("Linear Regression", LinearRegression()),
    ("Ridge", Ridge()),
    ("Random Forest", RandomForestRegressor(random_state=0, n_jobs=-1, n_estimators=5)),
    ("XGB Regressor", XGBRegressor(random_state=0, n_jobs=-1)),
    ("Decison Tree", DecisionTreeRegressor(random_state=0,
                           max_depth=5,
                           min_samples_split=10,
                           min_samples_leaf=1)),
    ("Gradient Boosting", GradientBoostingRegressor(random_state=0)),
    ("AdaBoost", AdaBoostRegressor(random_state=0)),
    ("KNN", KNeighborsRegressor())
]

In [ ]:
def evaluate_model(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    mape_score = mean_absolute_percentage_error(y_test, y_pred)
    return {"MSE": mse,"R2 Score": r2, "MAPE": mape_score}

In [ ]:
X_train, X_test, y_train, y_test = feature_selection(y_vars[0])

In [ ]:
def run_models():
  for y_var in y_vars:
    X_train, X_test, y_train, y_test = feature_selection(y_var)
    # print(y_var)
    results = list()
    for name, model in models:
      eval_metrics = evaluate_model(model, X_train, X_test, y_train, y_test)
      results.append([name, eval_metrics["MSE"], eval_metrics["R2 Score"], eval_metrics["MAPE"]])
      # print(name, results["MSE"], results["R2 Score"], results["MAPE"])
    results.sort(key=lambda x: (x[1], x[3], x[2]), reverse=False)
    df = pd.DataFrame(results, columns=["Model", "MSE", "R2 Score", "MAPE"])
    df = df.style.set_caption(y_var)
    print()
    display(df)

In [ ]:
run_models()